dask
dask[distributed]
fastapi~=0.98.0
gTTS~=2.3.2
httpx
icecream~=2.1.3
langchain~=0.0.212
numpy

openai~=0.27.8
pinecone-client
pydantic~=1.10.9
pypdf==3.11.0
pytest~=7.4.0
python-dotenv==1.0.0
python-multipart
requests~=2.31.0
typing
uvicorn~=0.22.0
validators
