bs4
dask
dask[distributed]
fastapi
gTTS

gunicorn
h11
httpx
icecream
langchain

openai
pinecone-client
pydantic
pypdf
pytest
python-dotenv
python-multipart
requests
starlette
tiktoken
typing
uvicorn
validators
